.content {
    max-width: 80%;
}

#root {
    width: 100%;
}

.todoRow{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.todoLabel {
    display: flex;
    flex-direction: row;
    word-break: break-all;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.checkboxes {
    width: 0.5em;
    height: 0.5em;
}

.addItemRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.addItemTxt {
    flex: 3;
    border-radius: 5px;
    min-height: 5vh;
    margin: 4px;
}

.addItemSubmit {
    flex:0.5;
    border-radius: 5px;
    background-color: rgba(17, 17, 246, 0.835);
    margin: 4px;
    font-weight: bold;
}

.deleteAllDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5%;
}

.deleteAllBtn {
    min-height: 40px;
    background-color: rgba(245, 24, 24, 0.876);
    border-radius: 4px;
}

.deleteImg {
    height: 19px;
    width: 16px;
}